* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 100vw;
    overflow: hidden;
}

button {
    background: transparent;
}
/* Header */
.hcontainer {
    background-color: #fff;
    height: 89px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1px 4px #00000034;
}

.logo__text {
    margin-left: 7px;
    margin-top: -7px;
}

.text1 {
    font-weight: 700;
    font-size: 23px;
    position: relative;
    top: 8px;   
}

.text2 a{
    font-size: 8px;
    color: #1400FF;
    letter-spacing: 5px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -5px;
    left: 2px;
}

.btn1 {
    width: 66px;
    height: 41px;
    cursor: pointer;
    background-color: transparent;
}

.logo__image {
    height: 44px;
    width: auto;
}

.link {
    font-weight: 500;
}

.link1 {
    position: relative;
    font-weight: 600;
}

.link1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    left: 0;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transition: all .2s linear;
}

.link1:hover::after {
    transform: scaleX(1);
}

.btn2 {
    width: 109px;
    height: 41px;
    background-color: #0069FF;
    border: 2px #0069FF solid;
    border-radius: 7px;
    transition: all .35s linear;
    cursor: pointer;
}

.link2 {
    color: #fff;
    position: relative;
    z-index: 10;
}

.btn2:hover {
    background-color: #0d50ac;
    border-color: #0d50ac;
}

.block__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 9.4%;
}

.block__links {
    padding-right: 5%;
}

/* Main */
.main {
    background-color: #fcfcfc;
}
.mcontainer {
    margin-top: 2px;
    padding-bottom: 32.41vh; /* 350px */
    padding-top: 23.15vh;    /* 250px */
    max-height: calc(100vh - 89px - 2px);
    box-sizing: border-box;
    background-image: url(../imgs/main-background.svg);
    background-repeat: no-repeat;
    background-size: 88%;
    background-position: 8.6vw -100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main__text-item {
    text-align: center;
}

.main__title {
    font-size: 70px;
    font-weight: 600;
    color: #1B4263;
    text-align: center;
}

.item1 {
    font-size: 26px;
    color: #848484;
    max-width: 1051px;
    margin-bottom: 70px;
    margin-top: 45px;   
}

.item2 {
    margin-top: 20px;
    font-size: 20px;
}

.item2__2 {
    color: #848484;
    font-size: 15px;
    font-weight: 300;
    margin: 18px 0 10px;
}

.google {
    background-color: #0069FF;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    transition: all .2s linear;
}

.google img, .google p {
    display: inline-block;
}

.google-text {
    font-size: 22px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-left: 15px;
}

.google:hover {
    background-color: #0d50ac;
}

.link-p {
    color: #0047FF;
    position: relative;
    display: inline;
    font-weight: 500;
}

.link-p::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: #0047FF;
    transition: all .2s linear;
}

.link-p:hover::after {
    width: 100%;
}

/* Footer */
.footer {
    display: grid;
    grid-template-rows: auto auto 450px;
}

.footer__item {
    padding: 100px 0 0 calc((100vw - 1013px) / 2);
}

.footer__body {
    max-width: 930px;
    display: flex;
    flex-direction: column;
}

/* footer item 1 */
.footer__item_1 {
    background-color: #F0F3F8;
    box-sizing: border-box;
    max-height: 760px;
}

.footer__header {
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1B4263;   
    margin-bottom: 100px;  
}

.footer_1__body {
    height: 545px;
}

.footer_1__list__item {
    display: grid;grid-template-columns: 40px minmax(637px, 830px);
    column-gap: 46px;
}

.footer_1__list__item:not(:last-of-type) {
    margin-bottom: 46px;
}

.footer_1__list__item:last-of-type {
    margin-bottom: 100px;
}

.mark {
    position: relative;
    top: 23%;
    left: -90%;
}

.mark::before, .mark::after {
    content: "";
    background-color: #0069FF;
    position: absolute;
    top: 50%;
    border-radius: 2px;
}

.mark::before {
    width: 15px;
    height: 5px;
    transform: rotate(45deg) translateY(-50%);
    left: calc(50% + 7.5px);
    transform-origin: right center;
}

.mark::after {
    width: 35px;
    height: 5px;
    transform: rotate(-40deg) translateY(-50%);
    left: calc(50% + 23.5px);
    transform-origin: left center;
}

.list1__text {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #344A60;
}

.item_1__btn {
    width: 130px;
    transition: all .2s linear;
}

.item_1__btn:hover {
    background-color: #0d50ac;
}

.footer__btn {
    margin-bottom: 100px;
    align-self: flex-end;
}

.footer__btn button {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #0069FF;
    border-radius: 7px;
    cursor: pointer;
}

/* footer item 2 */
.blue {
    color: #0069FF;
}

.footer_2__list__header, .footer_2__list__content {
    padding-left: 25px;
}

.footer_2__list__header {
    font-weight: 500;
    font-size: 30px;
    position: relative;
}

.footer_2__list__header::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer_2__list__content {
    color: #344A60;
    font-size: 20px;
    margin: 25px 0 50px;
    max-width: 790px;
}

.item_2__btn {
    width: 150px;
    transition: all .2s linear;
}

.item_2__btn:hover {
    background-color: #0d50ac;
}

/* footer item 3 */
.footer__item_3 {
    background-color: #F0F3F8;
    padding-top: 70px;  
}

.item3__body {
    max-width: 990px;
    display: flex;
    justify-content: space-between;
}

.footer__item_3__item_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.footer__item_3__item_2 {
    margin-right: 40px;
}

.footer__item_3__item_1-1, .footer__item_3__item_2-1 {
    color: #0069FF;
    font-size: 35px;
}

.footer__item_3__item_1-1 {
    font-weight: 600;
}

.footer__item_3__item_2-1 {
    font-weight: 500;
}

.footer__item_3__item_1-2-1, .footer__item_3__item_1-2-2, .footer__item_3__item_2-2-1, .footer__item_3__item_2-2-2, .footer__item_3__item_1-2-3 {
    color: #243545;
    font-size: 20px;
}

.footer__item_3__item_1-2-1, .footer__item_3__item_1-2-2, .footer__item_3__item_1-2-3 {
    font-weight: 500;  
}

.footer__item_3 {
    position: relative;
}

.footer__item_3__item_1-2-1 a, 
.footer__item_3__item_1-2-2 a,
.footer__item_3__item_1-2-3 a {
    color: #0b3558;
}

.instagram {
    position: absolute;
    bottom: 80px;   
    right: 38vw;
}

.instagram a i {
    font-size: 30px;
    color: #0b3558;
}

.footer__item_3__item_1-2-2 {
    min-width: 200px;
}

.footer__item_3__item_1-2-1:hover,
.footer__item_3__item_1-2-2:hover,
.footer__item_3__item_1-2-3:hover {
    text-decoration: underline;
}

.footer__item_3__item_1-2-1 {
    min-width: 160px;
}

.footer__item_3__item_1-2-3 {
    min-width: 160px;
}

.footer__item_3__item_2-2-1 {
    margin: 45px 0 20px;
}

.footer__item_3__item_1-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
}

.item_1__btn, .item_2__btn {
    box-shadow: 0 0 44px 5px rgba(0, 56, 255, 0.25);
}

/* width */
