* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 100vw;
    overflow: hidden;
}

a:visited, a:active {
    color: inherit;
}

.link2:visited {
    color: #fff;
}

button {
    background: transparent;
}
/* Header */
.hcontainer {
    background-color: #fff;
    height: 89px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
}

.logo__text {
    margin-left: 7px;
    margin-top: -7px;
}

.text1 {
    font-weight: 700;
    font-size: 23px;
    position: relative;
    top: 8px;   
}

.text2 a{
    font-size: 8px;
    color: #1400FF;
    letter-spacing: 5px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -5px;
    left: 2px;
}

.btn1 {
    width: 66px;
    height: 41px;
    cursor: pointer;
    background-color: transparent;
}

.logo__image {
    height: 44px;
    width: auto;
}

.link {
    font-weight: 500;
}

.link1 {
    position: relative;
    font-weight: 600;
}

.link1, .link2 {
    font-size: clamp(9px, .73vw, 14px);
}

.link1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    left: 0;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transition: all .2s linear;
}

.link1:hover::after {
    transform: scaleX(1);
}

.btn2 {
    width: clamp(90px, 5.73vw, 110px);
    height: clamp(33px, 2.14vw, 41px);
    background-color: #0069FF;
    border: 2px #0069FF solid;
    border-radius: 7px;
    transition: all .35s linear;
    cursor: pointer;
}

.link2 {
    color: #fff;
    position: relative;
    z-index: 10;
}

.btn2:hover {
    background-color: #0d50ac;
    border-color: #0d50ac;
}

.block__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 9.4%;
}

.block__links {
    padding-right: 5%;
}

/* Main */
.main {
    background-color: #fcfcfc;
}
.mcontainer {
    margin-top: 2px;
    padding-bottom: clamp(220px, 32.41vh, 350px); /* 350px 32.41vh*/
    padding-top: clamp(160px, 23.15vh, 250px);    /* 250px */
    height: calc(100vh - 89px - 2px);
    max-height: 1080px;
    box-sizing: border-box;
    background-image: url(../imgs/main-background.svg);
    background-repeat: no-repeat;
    background-size: 88%;
    background-position: 8.6vw -100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
}

.main__text-item {
    text-align: center;
}

.main__title {
    font-size: clamp(30px, 3.65vw, 70px);
    font-weight: 600;
    color: #1B4263;
    text-align: center;
}

.item1 {
    font-size: clamp(15px, 1.35vw, 26px);
    color: #848484;
    max-width: 54.74vw;
    margin: 45px auto 70px;
    min-width: 320px;
}

.item2 {
    margin-top: 20px;
    font-size: 20px;
}

.item2__2 {
    color: #848484;
    font-size: 15px;
    font-weight: 300;
    margin: 18px 0 10px;
}

.item2__3 {
    font-size: clamp(13px, 1.04vw, 20px);
}

.google {
    background-color: #0069FF;
    padding: clamp(3.5px, .52vw, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: clamp(6.5px, .78vw, 15px);

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    transition: all .2s linear;
}

.google img, .google p {
    display: inline-block;
}

.google img {
    width: clamp(35px, 2.76vw, 53px);
    height:  auto; 
}

.google-text {
    font-size: clamp(15px, 1.15vw, 22px);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-left: 15px;
}

.google:hover {
    background-color: #0d50ac;
}

.link-p {
    color: #0047FF;
    position: relative;
    display: inline;
    font-weight: 500;
    padding-right: 5px;
}

.link-p::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: #0047FF;
    transition: all .2s linear;
}

.link-p:hover::after {
    width: 100%;
}

/* Footer */
.footer {
    display: grid;
    grid-template-rows: auto auto auto;
}

.footer__item {
    padding: clamp(40px, 5.21vw, 100px) 0 0 clamp(35px, 25vw, 480px);
    width: 100vw;
}

.footer__body {
    max-width: 48.44vw;
    display: flex;
    flex-direction: column;
}

/* footer item 1 */
.footer__item_1 {
    background-color: #F0F3F8;
    box-sizing: border-box;
    max-height: 815px;
}

.footer_1__list {
    max-width: 46.88vw;
}

.footer__header {
    font-size: clamp(25px, 2.08vw, 40px);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1B4263;   
    margin-bottom: 100px; 
    /* text-align: center;  */
}

.footer_1__list__item {
    display: grid;grid-template-columns: 40px minmax(637px, 830px);
    column-gap: 46px;
}

.footer_1__list__item:not(:last-of-type) {
    margin-bottom: 46px;
}

.footer_1__list__item:last-of-type {
    margin-bottom: 100px;
}

.mark {
    position: relative;
    top: 0;
    left: -90%;
}

.mark::before, .mark::after {
    content: "";
    background-color: #0069FF;
    position: absolute;
    top: 50%;
    border-radius: 2px;
}

.mark::before {
    width: 15px;
    height: 5px;
    transform: rotate(45deg) translateY(-50%);
    left: calc(50% + 7.5px);
    transform-origin: right center;
}

.mark::after {
    width: 35px;
    height: 5px;
    transform: rotate(-40deg) translateY(-50%);
    left: calc(50% + 23.5px);
    transform-origin: left center;
}

.list1__text {
    font-size: clamp(15px, 1.56vw, 30px);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #344A60;
    max-width: 65%;
}

.item_1__btn {
    width: 130px;
    transition: all .2s linear;
}

.item_1__btn:hover {
    background-color: #0d50ac;
}

.footer__btn {
    margin-bottom: 100px;
    align-self: flex-end;
}

.footer__btn button {
    height: clamp(40px, 2.61vw, 50px);
    line-height: clamp(40px, 2.61vw, 50px);
    color: #fff;
    font-size: clamp(12px, .83vw, 16px);
    text-align: center;
    background-color: #0069FF;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 0 44px 5px rgba(0, 56, 255, 0.25);
}

.footer__btn_1 button {
    width: clamp(100px, 6.77vw, 130px);
}

.footer__btn_2 button {
    width: clamp(120px, 8.77vw, 170px);
}

/* footer item 2 */
.blue {
    color: #0069FF;
}

.footer_2__list__header, .footer_2__list__content {
    padding-left: 25px;
}

.footer_2__list__header {
    font-weight: 500;
    font-size: clamp(18px, 1.56vw, 30px);
    position: relative;
    width: fit-content;
}

.footer_2__list__header::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer_2__list__content {
    color: #344A60;
    font-size: clamp(16px, 1.04vw, 20px);
    margin: 25px 0 50px;
    max-width: 41.15vw;
}

.item_2__btn {
    width: 150px;
    transition: all .2s linear;
}

.item_2__btn:hover {
    background-color: #0d50ac;
}

/* footer item 3 */
.footer__item_3 {
    background-color: #F0F3F8;
    padding-top: 70px;
    padding-bottom: 40px;
    box-sizing: content-box;
    min-height: 200px;
}

.item3__body {
    max-width: 51.56vw;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}

.title1, .title2 {
    font-weight: 600;
    color: #0069FF;
    font-size: clamp(22px, 1.82vw, 35px);
}

.title2 {
    font-weight: 500;
}

.up {
   display: flex;
   justify-content: space-between;
}

.up__item2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.up__item2-item2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email {
    color: #243545;
    font-size: clamp(8px, 1.04vw, 20px);
}

.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down__link a {
    color: #385570;
    font-size: clamp(12px, 1.04vw, 20px);
    text-decoration: none;
}

.down__link a:hover {
    text-decoration: underline;
}

.down__item1 {
    display: flex;
    column-gap: 30px;
}

.instagram a i {
    font-size: clamp(15px, 1.82vw, 35px);
    color: #385570;
}

/* width */

@media (max-width: 1660px) {
    .mcontainer {
        background-position-y: -65px;
    }
}

@media (max-width: 1530px) {
    .mcontainer {
        background-position-y: -15px;
    }
}

@media (max-width: 1200px) {
    .mcontainer {
        background-position-y: 32px;
    }
}

@media (max-width: 1100px) {
    .mark {
        position: relative;
        top: 23%;
        left: -90%;
    }
    
    .mark::before, .mark::after {
        content: "";
        background-color: #0069FF;
        position: absolute;
        top: 50%;
        border-radius: 2px;
    }
    
    .mark::before {
        width: 10px;
        height: 3px;
        transform: rotate(45deg) translateY(-50%);
        left: calc(50% + .5px);
        transform-origin: right center;
    }
    
    .mark::after {
        width: 22.5px;
        height: 3px;
        transform: rotate(-40deg) translateY(-50%);
        left: calc(50% + 11.25px);
        transform-origin: left center;
    }
}

@media (max-width: 800px) {
    .mcontainer {
        background-image: none;
        background-color: #fcfcfc;
    }
}

@media (max-width: 670px) {
    .down__item1 {
        width: 200px;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .list1__text {
        max-width: 270px;
    }

    .footer__body {
        max-width: 70vw;
        margin: 0 auto;
    }

    .footer__header {
        text-align: center;
        margin-bottom: 45px;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__item_1, .footer__item_2 {
        padding-left: 0;
    }

    .mcontainer {
        padding-top: 110px;
        height: calc(80vh - 89px - 2px);
        padding-bottom: clamp(177px, 25.41vh, 350px);
    }

    .item1 {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .footer_2__list {
        margin: 0 auto;
    }

    .text1 {
        font-size: 18px;
    }

    .text2 a {
        font-size: 5px;
        letter-spacing: 4.5px;
    }

    .logo__image {
        width: 43px;
        height: auto;
    }
}

@media (max-width: 400px) {
    .footer_1__list__item {
        column-gap: 10px;
    }

    .list1__text {
        max-width: 200px;
    }

    .footer_2__list__content {
        max-width: 75vw;
    }

    .footer__item_3 {
        padding-left: 0;
    }

    .item3__body {
        margin: 0 auto;
    }

    .footer__btn {
        margin-bottom: 40px;
    }
}
/* height */
@media (max-height: 994px) {
    .mcontainer {
        background-size: 80%;
        background-position-x: center;
    }
}

@media (max-height: 940px) {
    .mcontainer {
        background-size: 75%;
    }
}

@media (max-height: 881px) {
    .mcontainer {
        background-size: 70%;
    }
}

@media (max-height: 823px) {
    .mcontainer {
        background-size: 65%;
    }
}
