* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
}

button {
    background: transparent;
}
/* Header */
.hcontainer {
    background-color: #fff;
    height: 89px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1px 4px #00000034;
}

.logo__text {
    margin-left: 7px;
    margin-top: -7px;
}

.text1 {
    font-weight: 700;
}

.text2 {
    font-size: 5.14px;
    letter-spacing: 4px;
}

.text2 a {
    color: #0038FF;
}

.btn1 {
    width: 66px;
    height: 41px;
    cursor: pointer;
    background-color: transparent;
}

.logo__image {
    width: 50px;
}

.link {
    font-weight: 500;
}

.link1 {
    position: relative;
}

.link1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    left: 0;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transition: all .2s linear;
}

.link1:hover::after {
    transform: scaleX(1);
}

.btn2 {
    width: 109px;
    height: 41px;
    background-color: #0069FF;
    border: 2px #0069FF solid;
    border-radius: 7px;
    transition: all .35s linear;
    cursor: pointer;
}

.link2 {
    color: #fff;
}

.btn2:hover {
    color: #0069FF;
    background-color: #fff;
}

.btn2:hover .link2 {
    color: #0069FF;
}

.block__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 9.4%;
}

.block__links {
    padding-right: 5%;
}

/* Main */
.main {
    background-color: #fcfcfc;
}
.mcontainer {
    margin-top: 2px;
    padding-bottom: 32.41vh; /* 350px */
    padding-top: 23.15vh;    /* 250px */
    height: calc(100vh - 32.41vh - 23.15vh - 89px - 2px);
    background-image: url(../imgs/main-background.svg);
    background-repeat: no-repeat;
    background-size: 88%;
    background-position: 8.6vw -100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main__text-item {
    text-align: center;
}

.main__title {
    font-size: 70px;
    font-weight: 600;
    color: #1B4263;
    text-align: center;
}

.item1 {
    font-size: 26px;
    color: #848484;
    max-width: 1051px;
    margin-bottom: 70px;
    margin-top: 45px;   
}

.item2 {
    margin-top: 20px;
    font-size: 20px;
}

.item2__2 {
    color: #848484;
    font-size: 15px;
    font-weight: 300;
    margin: 18px 0 10px;
}

.google {
    background-color: #0069FF;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
}

.google img, .google p {
    display: inline-block;
}

.google-text {
    font-size: 22px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-left: 15px;
}

.link-p {
    color: #0047FF;
    position: relative;
    display: inline;
}

.link-p::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: #0047FF;
    transition: all .2s linear;
}

.link-p:hover::after {
    width: 100%;
}


/* width */
@media (max-width: 1660px) {
    .mcontainer {
        background-position-y: -65px;
    }
}

@media (max-width: 1530px) {
    .mcontainer {
        background-position-y: -15px;
    }

    .main__title {
        font-size: 57px;
    }

    .item1 {
        font-size: 17px;
        max-width: 729px;
    }

    .google-text {
        font-size: 15px;
        padding-left: 11px;
    }

    .google img {
        width: 35px;
    }

    .item2__2 {
        font-size: 12px;
    }

    .item2__3 {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .mcontainer {
        background-position-y: 32px;
    }

    .main__title {
        font-size: 50px;
        margin-bottom: -100px;
    }

    .item1 {
        font-size: 16px;
        max-width: 579px;
        margin-bottom: 60px;
    }

    .google-text {
        font-size: 14px;
    }

    .item2__3 {
        font-size: 15px;
    }
}

@media (max-width: 1060px) {
    .main__title {
        font-size: 42px;
        
    }

    .item1 {
        font-size: 13px;
        max-width: 518px;
        transform: translateY(-70px);
    }

    .item2__1, .item2__2, .item2__3 {
        transform: translateY(-70px);
    }
}

/* height */
@media (max-height: 1040px) {
    .mcontainer {
        background-size: auto;
    }
}

@media (max-height: 994px) {
    .mcontainer {
        background-size: 80%;
        background-position-x: center;
    }
}

@media (max-height: 940px) {
    .mcontainer {
        background-size: 75%;
    }
}

@media (max-height: 881px) {
    .mcontainer {
        background-size: 70%;
    }
}

@media (max-height: 823px) {
    .mcontainer {
        background-size: 65%;
    }

    .main__title {
        font-size: 58px;
    }

    .item1 {
        font-size: 20px;
        max-width: 841px;
    }

    .google-text {
        font-size: 20px;
        padding-left: 12px;
    }

    .item2__3 {
        font-size: 17px;
    }

    .google {
        padding: 10px;
    }

    .google img {
        width: 37px;
    }
}