* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden;
}

input:focus, button:focus {
    outline: none;
}

/* alert */
.alert {
    background-color: #ff0000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    width: 274px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.alert__mark {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(45deg);
    margin-left: -20px;
}

.alert__mark::before, .alert__mark::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2.5px;
    background-color: #ff0000;
}

.alert__mark::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.alert__mark::after {
    transform: translate(-50%, -50%);
}

.alert__text {
    color: #fff;
    font-size: 13px;
}

/* Header */
.header {
    width: 100vw;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    position: relative;
    z-index: 2;
}

.block__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img img {
    height: 44px;
    width: auto;
}

.logo__text {
    font-family: "Poppins", sans-serif;
    position: relative;
    left: 5px;
}

.text1 {
    font-weight: 700;
    font-size: 23px;
    position: relative;
    top: 1px;
    color: #000;   
}

.text2 {
    font-size: 8px;
    color: #1400FF;
    letter-spacing: 5px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -5px;
    left: 2px;
}

.link {
    color: #2F436D;
    font-family: "Istok Web", sans-serif;
}

.link-text {
    color: #0069FF;
    position: relative;
}

.link-text::after {
    content: "";
    background-color: #0069FF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .1s linear;
}

.link-text:hover::after {
    opacity: 1;
}
/* Main */
.main {
    width: 100vw;
    height: calc(100vh - 89px - 2px);
    padding: 150px 225px 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url("../imgs/signup-background.svg");
    background-position: center;
    background-size: cover;
}

.text {
    margin-top: -200px;
    font-family: "Poppins", sans-serif;
}

.h4 {
    font-size: 24px;
    color: #0069FF;
    font-weight: 500;
}

.h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 24px 0;
    width: 417px;
    color: #0B3558;
}

.blue {
    color: #0069FF;
}

.p1 {
    font-size: 24px;
    color: #0B3558;
    font-weight: 300;
}

.p2 {
    font-weight: 700;
    font-family: "Calibri", sans-serif;
    font-size: 24px;
    color: #0B3558;
    margin: 48px auto;
}

.ul {
    padding-left: 35px;
}

.li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 23px;
}

.li-text {
    color: #525F6F;
    font-weight: 600;
    font-size: 22px;
}

.li:last-child {
    margin-bottom: 0;
}

.check-mark {
    background-color: #002598;
    width: 19.4px;
    height: 3px;
    transform: rotate(-37deg);
    border-radius: 3px;
    position: relative;
    margin-right: 17px;
}

.check-mark::before {
    content: "";
    background-color: #002598;
    min-width: 2.8px;
    min-height: 8.6px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* form */
form {
    border-radius: 15px;
    padding: 20px 30px 40px;
    background-color: #fff;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, .2);
}

.err-text {
    color: #FF0000;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: -17px 0 0 0;
}

.form__title {
    padding-top: 40px;
    padding-bottom: 60px;
    color: #0B3558;
    font-size: 37px;
    font-weight: 700;
    font-family: "Istok Web", sans-serif;
}

.form__title p {
    max-width: 362px;
    text-align: center;
    margin: auto;
}

.h2 {
    font-size: 37px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    color: #0B3558;
}

.inp-wrapper {
    padding-bottom: 30px;
    height: fit-content;
    width: 469px;
}

.btn-wrapper {
    margin: 0 auto;
    width: fit-content;
}

.inp {
    display: block;
    margin: 0 auto 20px;
    width: 469px;
    height: 60px;
    padding-left: 24px;
    border: 2px solid #DFEAF2;
    border-radius: 17px;
    box-sizing: border-box;

    color: #000;
    font-size: 20px;
}

.inp:not(.err):focus {
    border: 1.5px solid #006aff71;
    box-shadow: 0 0 0 2px #cccccc5a;
}

.inp:last-child {
    margin-bottom: 50px;
}

.inp::placeholder {
    color: #A6BBD1;
    font-size: 22px;
    font-family: "Istok Web", sans-serif;

}

.err {
    color: #ff0000;
    border-color: #ff0000;
}

.err::placeholder {
    color: #ff0000;
}

.google-btn {
    margin-top: 34px;
    width: fit-content;
}

.g {
    width: 469px;
    height: 64px;
    border: none;
    border-radius: 15px;
    background-color: #0069FF;
    position: relative;

    cursor: pointer;
    transition: all .2s linear;
}

.g:hover {
    background-color: #004EBA;
}

.g img, .g p {
    position: absolute;
    top: 50%;    
}

.g img {
    width: 53px;
    left: 5px;
    transform: translateY(-50%);
}

.g p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.15vw, 22px);
    font-weight: 500;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.google-signin {
    margin-top: 20px;
}

.or {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #747474;
    width: 469px;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.or::before, .or::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5px;
    width: 214px;
    background-color: #d9d9d9;
}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}

#btn {
    background-color: #0069FF;
    border: 2px solid #0069FF;
    transition: all .2s linear;
    width: 469px;
    height: 60px;
    border-radius: 17px;
    cursor: pointer;
}

.btn-text {
    font-family: "Istok Web", sans-serif;
    color: #fff;
    font-size: clamp(16px, 1.3vw, 25px);
    font-weight: 700;
    transition: all .2s linear;  
}

#btn:hover {
    background-color: #004EBA;
    border-color: #004EBA;
}

.signin-2 {
    visibility: hidden;
    opacity: 0;
}







/* Adaptive */
/* width */
@media (max-width: 1540px) {
    .main {
        padding: 150px 82px 210px;
    }
}

@media (max-width: 1300px) {
    .main {
        background-image: none;
        flex-direction: column-reverse;
        padding: 70px 0 50px;
        height: auto;
    }

    .text {
        margin-top: 150px;
        margin-left: 153px;
    }
}

@media (max-width: 1000px) {
    .text {
        margin-top: 77px;
    }
}

@media (max-width: 780px) {
    .text {
        margin-left: 18.61vw;
    }
}

@media (max-width: 570px) {
    .h4, .p1, .li-text {
        font-size: 18px;
    }

    .h1 {
        font-size: 35px;
    }

    .p2 {
        font-size: 22px;
    }

    .form__title {
        font-size: 20px;
        padding-bottom: 35px;
        padding-top: 0;
    }

    .p__1, .p__2 {
        font-size: clamp(15px, 5vw, 30px);
    }

    form {
        width: 84vw;
        padding-top: 36px;
        box-shadow: 0 0 76.2px 0 rgba(190, 190, 255, 0.47);
    }

    .inp, .g, #btn {
        width: 69vw;
        height: clamp(45px, 8.8vw, 50px);
        font-size: 18px;
        border-radius: 10px;
    }

    .inp-wrapper {
        padding-bottom: clamp(15px, 6vw, 24px);
        width: 69vw;
    }

    .text {
        margin-top: 83px;
    }

    .inp {
        padding-left: 12px;
    }

    .g p {
        width: 200px; 
        margin-left: 36px;  
    }

    .g img {
        width: 35px;
        margin-left: 6px;
    }

    .inp::placeholder {
        font-size: clamp(12px, 4vw, 16px);
    }

    .or {
        width: 84vw;
    }

    .or::before, .or::after {
        width: 28vw;
    }

    .or::before {
        left: 9vw;
    }

    .or::after {
        right: 9vw;
    }

    .block__links {
            visibility: hidden;
            opacity: 0;
            width: 0;
    }

    .signin-2 {
        visibility: visible;
        opacity: 1;
        margin: 25px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .signin-2 a{
        color: #0069FF;
        font-family: "Poppins", sans-serif;
        font-weight: 700; 
        text-align: center;
    }

    .header {
        padding-left: 20px;
    }
}

@media (max-width: 455px) {
    .text {
        margin-left: auto;
        margin-right: auto;
        max-width: 335px;
    }
}

/* height */
@media (max-height: 945px) and (min-width: 1300px) {
    .main {
        padding-bottom: 8.47vh;
    }

    
}

@media (max-height: 860px) and (min-width: 1300px) {
    form {
        padding: 0 30px 20px;
    }

    .form__title {
        padding: 15px 0 30px;
    }

    .text {
        margin-top: -11.74vh;
    }
}

@media (max-height: 781px) and (min-width: 1300px) {
    .form {
        margin-top: -100px;
    }
}