* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    background-color: #fff;
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

/*  */

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-columns: 250px calc(100vw - 250px);
}

.f {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;   
    z-index: 1010;    
    background-color: transparent;
    visibility: hidden;
    transition: all .1s linear;
}

.navbar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    position: relative;
    z-index: 1001;
}

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    position: relative;
    z-index: 1;
}

/* nav */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    margin-bottom: 55px;
}

.logo__text {
    text-align: center;
    text-transform: uppercase;
    margin-left: 8px;
}

.logo__img img {
    width: 50px;
}

.text1 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    width: fit-content;
}

.text2 {
    font-size: 5px;
    color: #1400FF;
    font-family: "Poppins", sans-serif;
    margin-left: 2px;
    letter-spacing: 4px;
    width: fit-content;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 25px 100px;
    grid-gap: 30px;
}

.link {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.link1 a {
    color: #0069ff;
}

.link2 a {
    color: #b1b1b1;   
}

.img i {
    font-size: 25px;
}

.img1 i {
    color: #0069FF;
}

.img2 i {
    color: #b1b1b1;
}

.img1::before {
    content: "";
    width: 10px;
    height: 60px;
    background-color: #0069ff;
    border-radius: 20px;
    position: absolute;
    left: -4px;
    top: 108px;;
}

.bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data {
    margin-bottom: 90px;
}

.block {
    width: 175px;
    height: 79px;
    background-color: #D9DDEA;
    box-shadow: 0 0 5.8px #00000041;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block::before, .block::after {
    content: "";
    width: 147px;
    height: 14px;
    background-color: #fff;
    border-radius: 9px;
}

.block::before {
    margin-top: 10px;
}

.block::after {
    margin-bottom: 10px;
}

.btn {
    width: 171px;
    height: 42px;
    border: 2px solid #29689D;
    color: #29689D;
    text-align: center;
    border-radius: 11px;
    font-family: "Calibri", sans-serif;
    font-size: 22px;
    font-weight: 700;

    transition: all .2s linear;
    cursor: pointer;
}

.donate__link {
    color: #29689D;
    transition: all .2s linear;
}

.btn:hover {
    background-color: #29689D;
}

.btn:hover .donate__link {
    color: #fff;
    background-color: #29689D;
}

/* Header */
.icons {
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-icon, .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #999;
    border: 1px solid rgb(54, 54, 54);
}

.settings-icon {
    margin-right: 25px;
}

/* Main */
.main {
    display: flex;
    height: calc(100vh - 100px);
}

.item1 {
    flex-basis: 42%;
    display: flex;
    flex-direction: column;
}

.item2 {
    flex-basis: 58%;
}

/* .item1 */
/* .personal-data */
.item1 {
    font-family: "Calibri", sans-serif;
}

.text {
    min-width: 296px;
}

.avatar-big {
    width: 92.3px;
    height: 92.3px;
    border-radius: 50%;
    background-color: #999;
}
.username {
    color: #737373;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.personal-data {
    flex-basis: 25%;
    padding-left: 40px;
    padding-top: 40px;
    max-height: 243px;
}

.meeting__duration {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #0B3558;
    display: flex;
    justify-content: space-between;
    max-width: 490px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-top: 10px solid #0B3558;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    cursor: pointer;
    transition: all .3s linear;
}

.options-wrapper {
    padding-top: 19px;
    position: relative;
    margin-left: 15px   ;
}

.options-wrapper.opened {
    z-index: 1005;
}

.options {
    position: relative;
    transition: all .2s linear;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 0 0 20px 0 rgba(0 ,0, 0, .15);
    background-color: #f9f9f900;
    width: 145px;
}

.options-wrapper.opened .options {
    opacity: 1;
    z-index: 100;
}
.options-wrapper.closed .options {
    opacity: 0;
    z-index: -1;
}

.options-wrapper.opened .options .option {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.options-wrapper.closed .options .option {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.options-wrapper.opened .triangle-down {
    transform: rotate(180deg);
}

.option {
    padding: 3px 15px;
    width: 14   0px;
    margin: 0 auto 8px;
    text-align: center;
    cursor: pointer;
    transition: all .3s linear;
    background: transparent;
}

.option:first-of-type {
    padding-top: 20px;
}

.option:last-of-type {
    padding-bottom: 20px;
}

.option:last-child {
    margin-bottom: 0;
}

.option::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0B3558;
    transform: scaleX(0);
    transition: all .2s linear;
}

.option.active::after {
    transform: scaleX(1);
}

/* form and guests list */
.guests-list {
    border-top: rgba(0, 0, 0, .05) solid 3px;
    border-right: rgba(0, 0, 0, .05) solid 3px;
    flex-basis: 75%;
    position: relative;
    /* z-index: 1000; */
}

.add-button {
    position: absolute;
    top: 25px;
    left: 35px;
}

#add-btn {
    color: #0069FF;
    font-size: 20px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
    width: 125px;
    height: 45px;
    text-align: center;
    line-height: 42px;
    border: 2px solid rgba(145, 171, 190, 0.5);
    border-radius: 17px;
    cursor: pointer;
}

#list {
    position: absolute;
    top: 120px;
    left: 35px  ;
}

.guest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 70px;
}

.guest__avatar {
    width: 70px;
    height: 70px;
    overflow: hidden;
    background-color: gray;
}

.guest__avatar img {
    width: 70px;
}

.guest__name {
    color: #1B4263;
    font-size: 20px;
    font-weight: 700;
    font-family: "Calibri";
    text-align: center;
}

.form-wrapper {
    padding: 33px 30px;
    border-radius: 27px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    max-height: 315px;
    position: absolute;
}

.form-header {
    display: flex;
    width: 470px;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: move;
}

.change {
    position: relative;
    cursor: auto;
}

.close {
    width: 45px;
    height: 45px;
    border-radius: 17px;
    border:  2px solid rgba(145, 171, 190, 0.5);
    position: relative;
    cursor: pointer;
}

.close::before, .close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 20px;
    background-color: rgba(145, 171, 190);
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.change-cont {
    position: relative;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    background-color: #ECECF1;
    font-size: 18px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
}

.toCalendly, .toHubspot {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s linear;
}

.toCalendly {
    left: 15px;
}

.toCalendly:not(.off) {
    color: #0069FF;
}

.toHubspot {
    right: 15px;
}

.toHubspot:not(.off) {
    color: #FF8A00;
}

.off {
    color: #6F707F;
    cursor: pointer;
}



.background-effect {
    position: absolute;
    width: 88px;
    height: 37px;
    border-radius: 10px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: 4px;
    transition: all .2s linear;
}

.search-form__container {
    display: grid;
    grid-template-rows: 60px 60px 45px;
    grid-row-gap: 18px;  
}

.search-form__container input {
    font-size: 22px;
    font-family: "Calibri", sans-serif;
}

.i {
    margin-bottom: 35px;
}

.i:last-of-type {
    margin-bottom: 0;
    justify-self: end;
    width: fit-content;
}

.search-form input {
    width: 469px;
    height: 60px;
    border: #91ABBE 2px solid;
    border-radius: 17px;
    padding-left: 18px;
}

.search-form input::placeholder {
    color: #91ABBE;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
}

#add-btn-form {
    width: 115px;
    height: 43px;
    border: #91ABBE 2px solid;
    border-radius: 17px;
    font-weight: 700;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
    cursor: pointer;
    transition: all .2s linear;
}

.blue {
    color: #0069FF;
}

#c-url:focus, #email:focus {
    outline: none;
    border: solid 1.5px #006aff71;
    box-shadow: 0 0 0 2px #cccccc5a;
}

#h-url:focus {
    outline: none;
    border: 1.5px solid #fda94a9e;
    box-shadow: 0 0 0 2px #cccccc5a;
}

.orange {
    color: #FF8A00;
}

#add-btn-form:hover {
    color: #fff;
    background-color: #91ABBE;
}

/* .item2 */
.item2 {
    padding:  0 55px;
}

.calendar__wrapper {
    display: flex;
    width: 100%;
}

.item2__header {
    font-family: "Istok Web", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 40px;
}

.calendar {
    padding-top: 45px;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.calendar__header span {
    color: #0B3558;
}

.slide-btn {
    font-size: 25px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    transition: all .1s linear;
    cursor: pointer;
}

.slide-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
    transition: all .1s linear;
}

.slide-btn:hover {
    color: #3660F6;
}

.slide-btn:hover::before {
    background-color: #EEF5FF;
}

#month-year {
    font-size: 24px;
    font-family: "Isotok Web", sans-serif;
    padding: 0 17px;
}

.calendar__body {
    font-family: "Inter", sans-serif;
    width: 450px;
    height: 360px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 32px;
    margin-top: 25px;
}

.weekday {
    text-transform: uppercase;
    color: #0B3558;
    font-size: 20px;
}

.day {
    font-size: 24px;
    color: #868686;
    position: relative;
    z-index: 1;
    transition: all .1s linear;
}

.filled {
    cursor: pointer;
}

.day::before {
    content: "";
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all .1s linear;
}

/* .day.filled:hover {
    color: #3660F6;
    font-weight: 600;
} */

/* .day.filled:hover::before {
    background-color: #EEF5FF;
} */

.current {
    color: #3660F6;
    font-weight: 600;
}

.current::before {
    background-color: #EEF5FF;
}

.calendar__item {
    text-align: center;    
}

.Time {
    margin-left: 115px;
}

.Weekday-Date {
    font-size: 24px;
    font-family: Arial, "Istok Web", sans-serif;
    color: #0B3558;
    width: 240px;
    margin-bottom: 24px;
}

.time__list {
    margin-top: 10px;
}

.time__item {
    width: 288px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.time, .create-btn {
    height: 70px;
    text-align: center;
    line-height: 65px;
    cursor: pointer;
    transition: all .2s linear;
}

.time__item:not(.toAdd) .time {
    width: 100%;
    color: #0069FF;
    border: #0069FF 3px solid;
    font-size: 28px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
    border-radius: 8px;
}

.time__item:not(.toAdd) .time:hover {
    background-color: #0069FF;
    color: #fff;
}

.time__item.toAdd .create-btn:hover {
    background-color: #0157cf;
}

.time__item:not(.toAdd) .create-btn {
    width: 0%;
    opacity: 0;
    visibility: hidden;
}

.time__item.toAdd .time, .time__item.toAdd .create-btn {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
    width: 48%;
    border-radius: 9px;
}

.time__item.toAdd .time {
    background-color: #666;
    cursor: auto;
}

.time__item.toAdd .create-btn {
    background-color: #0069FF;
}

/* Adaptive */
/* width */
@media (max-width: 1700px) {
    .wrapper {
        grid-template-rows: 80px calc(100vh - 80px);
        grid-template-columns: 230px calc(100vw - 230px);
    }

    .settings-icon, .avatar {
        width: calc(65px * .8);
        height: calc(65px * .8);
    }

    .calendar__body {
        grid-row-gap: calc(32px * .8);
        grid-column-gap: calc(36px * .8);
    }

    .weekday {
        font-size: calc(20px * .8);
    }

    .day::before {
        width: calc(55px * .8);
        height: calc(55px * .8);
        top: calc(50% * .8);
    }

    .slide-btn {
        font-size: calc(25px * .8);
    }

    #month-year, .Weekday-Date, .day {
        font-size: calc(24px * .8);
    }

    .time__item.toAdd .create-btn, .time__item:not(.toAdd) .time, .time, .time__item.toAdd .time {
        font-size: calc(24px * .9);
    }

    .item2__header {
        font-size: calc(30px * .8);
    } 

    .time__item {
        width: calc(288px * .8);
        height: calc(70px * .8);
        margin-bottom: 25px;
    }

    .Time {
        margin-left: calc(115px * .5);
    }

    .guests-list {
        min-width: 420px;
        width: 32.8vw;
    }
}

/* @media (max-width: 1640px) {
    .calendar__body {
        grid-row-gap: calc(32px * .8);
        grid-column-gap: calc(36px * .8);
    }

    .weekday {
        font-size: calc(20px * .8);
    }

    .day::before {
        width: calc(55px * .8);
        height: calc(55px * .8);
    }

    .slide-btn {
        font-size: calc(25px * .8);
    }

    #month-year, .Weekday-Date, .day, .time__item {
        font-size: calc(24px * .8);
    }

    .item2__header {
        font-size: calc(30px * .8);
    } 

    .time__item {
        width: calc(288px * .8);
        height: calc(70px * .8);
    }

    .Time {
        margin-left: calc(115px * .8);
    }
}


























 */
