* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    background-color: #fff;
    box-sizing: border-box;
}

a:visited {
    color: inherit;
}

#blackBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    z-index: 9999;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.three-dots__container1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.DOT {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #757678;
}

.DOT1 {
    animation: scaleDot .5s linear 0s infinite alternate;
    
}

.DOT2 {
    animation: scaleDot .5s linear .25s infinite alternate;
}

.DOT3 {
    animation: scaleDot .5s linear .5s infinite alternate;
}


button:focus {
    outline: none;
}

/* alert */
.alert {
    background-color: #ff0000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    width: fit-content;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    font-weight: 600;
}

.alert__mark {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(45deg);
    margin-left: -20px;
}

.alert__mark::before, .alert__mark::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2.5px;
    background-color: #ff0000;
}

.alert__mark::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.alert__mark::after {
    transform: translate(-50%, -50%);
}

.alert__text {
    color: #fff;
    font-size: 13px;
    background-color: transparent;
}

/*  */
.alertS {
    background-color: #025f1c;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    width: fit-content;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 8000;

    padding: 0 15px;
}

.alertS__check-mark {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.alertS__check-mark::before, .alertS__check-mark::after {
    content: "";
    background-color: #025f1c;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1.2px;
}

.alertS__check-mark::before {
    width: 4px;
    transform: rotate(45deg) translate(-58%, 215%);
}

.alertS__check-mark::after {
    width: 8px;
    transform: rotate(-45deg) translate(-19%, -100%);
}

/*  */

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-columns: 250px calc(100vw - 250px);
}

.f {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;   
    z-index: 1010;    
    background-color: transparent;
    visibility: hidden;
    transition: all .1s linear;
}

.navbar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    position: relative;
    z-index: 1001;
}

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    position: relative;
    z-index: 1;
}

/* nav */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    margin-bottom: 55px;
}

.logo__text {
    text-align: center;
    text-transform: uppercase;
    margin-left: 8px;
}

.logo__img img {
    height: 44px;   
    width: auto;
}

.text1 {
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    width: fit-content;
}

.text2 {
    font-size: 8px;
    color: #1400FF;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    letter-spacing: 5px;
    width: fit-content;
    position: relative;
    top: -5px;
    left: 2px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 25px 100px;
    grid-gap: 30px;
}

.link {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.link1 a {
    color: #0069ff;
}

.link2 a {
    color: #b1b1b1;   
}

.img i {
    font-size: 25px;
}

.img1 i {
    color: #0069FF;
}

.img2 i {
    color: #b1b1b1;
}

.img1::before {
    content: "";
    width: 10px;
    height: 60px;
    background-color: #0069ff;
    border-radius: 20px;
    position: absolute;
    left: -4px;
    top: 108px;;
}

.bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data {
    margin-bottom: 90px;
}

.block {
    width: 175px;
    height: 79px;
    background-color: #D9DDEA;
    box-shadow: 0 0 5.8px #00000041;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block::before, .block::after {
    content: "";
    width: 147px;
    height: 14px;
    background-color: #fff;
    border-radius: 9px;
}

.block::before {
    margin-top: 10px;
}

.block::after {
    margin-bottom: 10px;
}

.btn {
    width: 171px;
    height: 42px;
    border: 2px solid #29689D;
    color: #29689D;
    text-align: center;
    border-radius: 11px;
    font-family: "Calibri", sans-serif;
    font-size: 22px;
    font-weight: 700;

    transition: all .2s linear;
    cursor: pointer;
}

.donate__link {
    color: #29689D;
    transition: all .2s linear;
}

.btn:hover {
    background-color: #29689D;
}

.btn:hover .donate__link {
    color: #fff;
    background-color: #29689D;
}

/* Header */
.icons {
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    position: relative;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings-icon {
    margin-right: 25px;
    color: #999;
    cursor: pointer;
}

.settings-icon img {
    margin: auto 0;
    width: inherit;
}

/* Main */
.main {
    display: flex;
    height: calc(100vh - 100px);
}

.item1 {
    flex-basis: 42%;
    display: flex;
    flex-direction: column;
}

.item2 {
    flex-basis: 58%;
}

/* .item1 */
/* .personal-data */
.item1 {
    font-family: "Calibri", sans-serif;
}

.text {
    min-width: 296px;
}

.avatar-big {
    width: 92.3px;
    height: 92.3px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-big img {
    width: 92.3px;
    height: 92.3px;
    border-radius: 50%;
}

.username {
    color: #737373;
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0 13px;
    padding-left: 3px;
}

.personal-data {
    flex-basis: 25%;
    padding-left: 40px;
    padding-top: 40px;
    max-height: 243px;
}

.meeting__duration {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #0B3558;
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.triangle-down {
    width: 0;
    height: 0;
    border-top: 10px solid #0B3558;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    cursor: pointer;
    transition: all .3s linear;
}

.options-wrapper {
    padding-top: 19px;
    position: relative;
    margin-left: -20%;
}

.options-wrapper.opened {
    z-index: 1005;
}

.options {
    position: relative;
    transition: all .2s linear;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 0 0 20px 0 rgba(0 ,0, 0, .15);
    background-color: #f9f9f900;
    width: 145px;
}

.options-wrapper.opened .options {
    opacity: 1;
    z-index: 100;
}
.options-wrapper.closed .options {
    opacity: 0;
    z-index: -1;
}

.options-wrapper.opened .options .option {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.options-wrapper.closed .options .option {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.options-wrapper.opened .triangle-down {
    transform: rotate(180deg);
}

.option {
    padding: 3px 15px;
    width: 14   0px;
    margin: 0 auto 8px;
    text-align: center;
    cursor: pointer;
    transition: all .3s linear;
    background: transparent;
}

.option:first-of-type {
    padding-top: 20px;
}

.option:last-of-type {
    padding-bottom: 20px;
}

.option:last-child {
    margin-bottom: 0;
}

.option::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0B3558;
    transform: scaleX(0);
    transition: all .2s linear;
}

.option.active::after {
    transform: scaleX(1);
}

/* form and guests list */
.guests-list {
    border-top: rgba(0, 0, 0, .05) solid 3px;
    border-right: rgba(0, 0, 0, .05) solid 3px;
    flex-basis: 75%;
    position: relative;
}

.add-button {
    position: absolute;
    top: 25px;
    left: 35px;
}

#add-btn {
    color: #0069FF;
    font-size: 20px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
    width: 125px;
    height: 45px;
    text-align: center;
    line-height: 42px;
    border: 2px solid rgba(145, 171, 190, 0.5);
    border-radius: 17px;
    cursor: pointer;
}

.users-quantity {
    position: absolute;
    top: 25px;
    right: 30px;
    color: #737373;
    font-size: 24px;
    font-family: "Calibri", sans-serif;
    font-weight: 700;
}

#list {
    position: absolute;
    top: 120px;
    left: 35px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y:auto;
    max-height: 200px;
}

.guest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 5px;
}

.guest__avatar {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

.guest__avatar img {
    width: 70px;
}

.guest__name {  
    color: #1B4263;
    font-size: 20px;
    font-weight: 700;
    font-family: "Calibri";
    text-align: center;
    max-width: 110px;
    word-wrap: break-word;
}

.remove-user {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #0069ff;
    background: #fff;
    width: 100%;
    height: 100%; 
    line-height: 66px; 
    border-radius: 12px; 
    font-weight: 500;
    position: absolute;
    z-index: 1000;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}

.guest__avatar:hover .remove-user {
    opacity: 1;
    visibility: visible;
    border: 3px solid #0069ff;
}

.form-wrapper {
    padding: 18px 30px 30px;
    border-radius: 27px;
    box-shadow: 0 0 50px -14px rgba(0, 0, 0, .25);
    max-height: 315px;
    position: absolute;
    z-index: 5000;
}

.form-header {
    display: flex;
    width: 470px;
    justify-content: space-between;
    margin-bottom: 18px;
    cursor: move;
}

.change {
    position: relative;
    cursor: auto;
}

.close {
    width: 45px;
    height: 45px;
    border-radius: 17px;
    border:  2px solid rgba(145, 171, 190, 0.5);
    position: relative;
    cursor: pointer;
}

.close::before, .close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 20px;
    background-color: rgba(145, 171, 190);
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.change-cont {
    position: relative;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    background-color: #ECECF1;
    font-size: 18px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
}

.toCalendly, .toHubspot {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s linear;
}

.toCalendly {
    left: 15px;
}

.toCalendly:not(.off) {
    color: #0069FF;
}

.toHubspot {
    right: 15px;
}

.toHubspot:not(.off) {
    color: #FF8A00;
}

.off {
    color: #6F707F;
    cursor: pointer;
}



.background-effect {
    position: absolute;
    width: 88px;
    height: 37px;
    border-radius: 10px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: 4px;
    transition: all .2s linear;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
}

.search-form__container {
    display: grid;
    grid-row-gap: 18px;  
}

.search-form__container input {
    font-size: 22px;
    font-family: "Calibri", sans-serif;
}

.form__for__calendly {
    grid-template-rows: 60px 60px 45px;
}

.form__for__hubspot {
    grid-template-rows: 60px 45px;
}

.i {
    margin-bottom: 35px;
}

.i:last-of-type {
    margin-bottom: 0;
    justify-self: end;
    width: fit-content;
}

.search-form input {
    width: 469px;
    height: 60px;
    border: rgba(145, 171, 190, 0.5) 2px solid;
    border-radius: 17px;
    padding-left: 18px;
}

.search-form input::placeholder {
    color: #91ABBE;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
}

#add-btn-form {
    width: 115px;
    height: 43px;
    border: rgba(145, 171, 190, 0.5) 2px solid;
    border-radius: 17px;
    font-weight: 700;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
    cursor: pointer;
    transition: all .2s linear;
}

#add-btn-form:hover {
    color: #fff;
    background-color: #91ABBE;
}

#add-btn-form:active {
    background-color: #6a7882;
    border-color: #6a7882;
}

.blue {
    color: #0069FF;
}

#c-url:focus, #email:focus {
    outline: none;
    border: solid 1.5px #006aff71;
    box-shadow: 0 0 0 2px #cccccc5a;
}

#h-url:focus {
    outline: none;
    border: 1.5px solid #fda94a9e;
    box-shadow: 0 0 0 2px #cccccc5a;
}

.orange {
    color: #FF8A00;
}
/* .item2 */
.item2 {
    padding:  0 55px;
}

.calendar__wrapper {
    display: flex;
    width: 100%;
}

.item2__header {
    font-family: "Istok Web", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 40px;
}

.calendar {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.slide-btn.disabled {
    visibility: hidden;
    opacity: 0;
}

.slide-btn:not(.disabled) {
    visibility: visible;
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .1s linear;
    background-color: #EEF5FF;
    cursor: pointer;
}

.slide-btn:not(.disabled):hover {
    background-color: #D9E9FF;
}

.slide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-btn div {
    border-left: 2.5px #0069ff solid;
    border-top: 2.5px #0069ff solid;
    width: 10px;
    height: 10px;
    background-color: transparent;
    transform: rotate(135deg);
    border-top-left-radius: 1px;
    position: relative;
    left: -1.55px;
}

#previous div {
    transform: rotate(-45deg);
    position: relative;
    left: 1.55px;
}

#month-year {
    font-size: 24px;
    font-family: "Isotok Web", sans-serif;
    padding: 0 32px;
}

.calendar__body {
    font-family: "Inter", sans-serif;
    height: 360px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-top: 25px;
}

.wrapper-calendar__body {
    position: relative;
}

.weekday {
    text-transform: uppercase;
    color: #0B3558;
    font-size: 12px;
    line-height: 44px;
}

.day {
    font-size: 16px;
    color: #868686;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 44px;
    height: 44px;
    line-height: 44px;
    transition: all .1s linear;
}

.current {
    cursor: pointer;
}


.current.clicked {
    color: #fff;
    font-weight: 700;
}

.current.clicked::before {
    background-color: #0069FF;
}

.current:not(.clicked):hover::before {
    background-color: #D9E9FF;
}

.day::before {
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all .1s linear;
}

.day:not(.current) {
    cursor: auto;
}

.current {
    color: #3660F6;
    font-weight: 600;
}

.current::before {
    background-color: #EEF5FF;
}

.calendar__item {
    text-align: center;    
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.three-dots__container {
    position: absolute;
    z-index: 2;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #737373;
}

.dot1 {
    animation: scaleDot .5s linear 0s infinite alternate;
    
}

.dot2 {
    animation: scaleDot .5s linear .25s infinite alternate;
}

.dot3 {
    animation: scaleDot .5s linear .5s infinite alternate;
}

@keyframes scaleDot {
    to {
        transform: scale(1.55); /* 11->17 = 1.55 */
    }
}

.Time {
    margin-left: 115px;
    margin-top: 23px;
}

.Weekday-Date {
    font-size: 24px;
    font-family: Arial, "Istok Web", sans-serif;
    color: #0B3558;
    width: 240px;
    margin-top: -14px;
    margin-bottom: 37px;
}

.time__list {
    margin-top: 10px;
    max-height: 50vh;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.time__item {
    width: 288px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.time, .create-btn {
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    transition: all .2s linear;
}

.time__item:not(.toAdd) .time {
    width: 100%;
    color: #0069FF;
    border: #0069FF 1px solid;
    font-size: 28px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
    border-radius: 8px;
    transition: all .1s linear;
}

.time__item:not(.toAdd) .time:hover {
    border: #0069FF 2.5px solid;
}

.time__item.toAdd .create-btn:hover {
    background-color: #0157cf;
}

.time__item:not(.toAdd) .create-btn {
    width: 0%;
    opacity: 0;
    visibility: hidden;
}

.time__item.toAdd .time, .time__item.toAdd .create-btn {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: "Calibri", sans-serif;
    width: 48%;
    border-radius: 9px;
}

.time__item.toAdd .time {
    background-color: #666;
    cursor: auto;
}

.time__item.toAdd .create-btn {
    background-color: #0069FF;
}

/* Adaptive */
/* width */
@media (max-width: 1700px) {
    .wrapper {
        grid-template-rows: 80px calc(100vh - 80px);
        grid-template-columns: 230px calc(100vw - 230px);
    }

    .settings-icon, .avatar {
        width: calc(65px * .8);
        height: calc(65px * .8);
    }

    .calendar__body {
        grid-row-gap: calc(8px * .8);
        grid-column-gap: calc(8px * .8);
    }

    .day {
        font-size: 16px;
    }

    .slide-btn {
        font-size: calc(25px * .8);
    }

    #month-year, .Weekday-Date {
        font-size: calc(24px * .8);
    }

    .time__item.toAdd .create-btn, .time__item:not(.toAdd) .time, .time, .time__item.toAdd .time {
        font-size: calc(24px * .9);
    }

    .item2__header {
        font-size: calc(30px * .8);
    } 

    .time__item {
        width: calc(288px * .8);
        margin-bottom: 0;
        line-height: calc(70px * .8);  
    }

    .time, .create-btn {
        line-height: calc(70px * .8);
        height: calc(70px * .8);
    }

    .Time {
        margin-left: calc(115px * .5);
    }

    .guests-list {
        min-width: 420px;
        width: 32.8vw;
    }

    .form__for__calendly {
        grid-template-rows: 52.2px 52.2px 31.1px;
    }
    
    .form__for__hubspot {
        grid-template-rows: 52.2px 31.1px;
    }

    .search-form input {
        height: 52.2px;
        width: 407.8px;
    }

    #add-btn-form {
        height: 37.4px;
        border-radius: 14.78px;
        font-size: 18px;
    }

    .form-wrapper {
        width: 465px;
    }

    .form-header {
        width: 407px;
    }

    .toCalendly, .toHubspot {
        font-size: 15.6px;
    }

    .change-cont {
        width: calc(190px / 1.15);
        height: calc(45px / 1.15);
    }

    .background-effect {
        width: calc(88px / 1.15);
        height: calc(37px / 1.15);
        top: 50%;
    }

    .close {
        width: calc(45px / 1.15);
        height: calc(45px / 1.15);
        border-radius: calc(17px / 1.15);
    }

    .form-wrapper {
        padding: calc(18px / 1.15) calc(30px / 1.15) calc(30px / 1.15);
    }
}

@media (max-width: 1465px) {
    .wrapper {
        width: 1920px;
        height: 1080px;
        overflow: scroll;
        grid-template-rows: 100px calc(1080px - 100px);
        grid-template-columns: 250px calc(1920px - 250px);
    }
    
    .f {
        width: 1920px;
        height: 1080px;
    }
}

@media (max-height: 770px) and (min-width: 1330px) {
    .wrapper {
        grid-template-rows: 70px calc(-70px + 100vh);
    }
}

