* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
}

a:visited {
    color: inherit;
}

.alert {
    background-color: #025f1c;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    width: fit-content;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 8000;

    padding: 0 15px;
}

.alert__check-mark {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.alert__check-mark::before, .alert__check-mark::after {
    content: "";
    background-color: #025f1c;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1.2px;
}

.alert__check-mark::before {
    width: 4px;
    transform: rotate(45deg) translate(-58%, 215%);
}

.alert__check-mark::after {
    width: 8px;
    transform: rotate(-45deg) translate(-19%, -100%);
}

.alert__err {
    background-color: #ff0000;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    width: fit-content;
    height: 42px;
    padding: 0 15px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    position: absolute;
    z-index: 8000;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}

#transparentBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, .7);
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.three-dots__container {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #87888f;
}

.dot1 {
    animation: scaleDot .5s linear 0s infinite alternate;
    
}

.dot2 {
    animation: scaleDot .5s linear .25s infinite alternate;
}

.dot3 {
    animation: scaleDot .5s linear .5s infinite alternate;
}

@keyframes scaleDot {
    to {
        transform: scale(1.55); /* 11->17 = 1.55 */
    }
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-columns: 250px calc(100vw - 250px);
}

.navbar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    position: relative;
    z-index: 5;

}

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 182px 51px 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    position: relative;
    z-index: 1;
}
/* nav */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    margin-bottom: 50px;
    padding-right: 7px;
}

/*  */
.logo__text {
    text-align: center;
    text-transform: uppercase;
    margin-left: 8px;
}

.logo__img img {
    height: 44px;   
    width: auto;
}

.text1 {
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    width: fit-content;
}

.text2 {
    font-size: 8px;
    color: #1400FF;
    letter-spacing: 5px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -5px;
    left: 2px;
}
/*  */

.menu {
    display: flex;
    justify-content: center;
}

.menu-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 25px 100px;
    grid-gap: 30px;
}

.link {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.link1 a {
    color: #b1b1b1;
}

.link2 a {
    color: #0069ff;
}

.img i {
    font-size: 25px;
}

.img1 i {
    color: #b1b1b1;
}

.img2 i {
    color: #0069FF;
}

.img2::before {
    content: "";
    width: 10px;
    height: 60px;
    background-color: #0069ff;
    border-radius: 20px;
    position: absolute;
    left: -4px;
    top: 162px;
}

.bottom {
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data {
    margin-bottom: 90px;
}

.block {
    width: 175px;
    height: 79px;
    background-color: #D9DDEA;
    box-shadow: 0 0 5.8px #00000041;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block::before, .block::after {
    content: "";
    width: 84%;
    height: 17%;
    background-color: #fff;
    border-radius: 9px;
}

.block::before {
    margin-top: 10px;
}

.block::after {
    margin-bottom: 10px;
}

.btn {
    width: 171px;
    height: 42px;
    border: 2px solid #29689D;
    color: #29689D;
    text-align: center;
    border-radius: 11px;
    font-family: "Calibri", sans-serif;
    font-size: 22px;
    font-weight: 700;

    transition: all .2s linear;
    cursor: pointer;
    background-color: #fff;
}

.donate__link {
    color: #29689D;
    background: transparent;
    transition: all .2s linear;
}

.btn:hover {
    background-color: #29689D;
}

.btn:hover .donate__link {
    color: #fff;
}

.btn:active {
    background: #1f5077;
}

/* Header */
.icons {
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-icon, .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.settings-icon {
    margin-right: 25px;
}

.settings-icon img {
    margin: auto 0;
    width: inherit;
}

.avatar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

/* Main */
.card {
    font-family: "Calibri", sans-serif;
    width: 18.5vw;
    height: 650px;
    border: 2px solid rgba(135, 135, 135, 0.15);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
}

.card__title {
    color: #0B3558;
    font-size: 45px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 11px;
}

.card__sub-title {
    color: #555555;
    font-size: 24px;
    max-width: 89%;
    margin-left: 30px;
    padding-bottom: 15px;
}

.card__price {
    font-size: 38px;
    color: #0B3558;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 8px;
}

.m-y {
    color: #646464c6;
    font-size: 20px;
    font-weight: 700;
}

.c-btn {
    width: 80%;
    height: 49px;
    background-color: #0069ff;
    border: 2px solid #0069ff;
    border-radius: 9px;
    margin: 15px auto 10px;

    transition: all .2s linear;
}

.c-btn:not(.current) {
    cursor: pointer;
}

.current a {
    cursor: auto;
}

.card__button {
    height: 62px;
    width: 100%;
    position: absolute; 
    bottom: 30px;
}

.c-btn a {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    transition: all .2s linear;
    background: transparent;
    font-family: "Calibri", sans-serif;
}

.c-btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.c-btn:not(.current):hover {
    background-color: #0353c3;
    border-color: #0353c3;
}

.c-btn.current a {
    color: #0069ff;
}

.current {
    background-color: #fff;
}

.card__block1 {
    background-color: #fefefe;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 2px #00000041;
}

.card__block2 {
    background-color: #fbfbfb;
}

.block2__title {
    color: #0B3558;
    font-size: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color: #fbfbfb;
    padding-left: 20px;
    margin: 32px 0;
}

.ul {
    background-color: #fbfbfb;
}

.li {
    font-size: 24px;
    color: #0B3558;
    display: flex;
    align-items: top;
    background-color: #fbfbfb;
    padding-left: 32px;
    padding-bottom: 11px;
    max-width: 80%;
}

.mark__wrapper {
    background-color: transparent;
}

.mark {
    width: 4px;
    height: 16px;
    background-color: #00D34A;
    position: relative;
    bottom: -8px;
    transform: rotate(45deg);
    border-radius: 5px;
    margin-right: 20px;
}

.mark::before {
    content: "";
    width: 3px;
    height: 11px;
    background-color: #00D34A;
    position: absolute;
    bottom: -4.8px;
    left: -4px;
    transform: rotate(87deg);
    border-radius: 5px;
}

/* change tariff */
.change-tariff__wrapper {
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.change-tariff {
    background-color: #ECECF1;
    width: 287px;
    height: 65px;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
    font-weight: 700;
    position: relative;
    border-radius: 10px;
}

.change-tariff::after {
    content: "-20%";
    color: #0069ff;
    font-size: 15px;
    font-family: "Calibri", sans-serif;
    font-weight: 700;
    text-align: center;
    width: 45px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    background-color: #ECECF1;
    display: block;
    box-shadow: 0 0 10px 1px #0000003e;
    position: absolute;
    right: 0;
    top: -12.5px;
    z-index: 11;
}

.monthly, .yearly, .bcg__effect {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.monthly, .bcg__effect {
    left: 2px;
    color: #0069FF;
}

.monthly, .yearly {
    width: 132px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    z-index: 4;
    background-color: transparent;
    cursor: pointer;
}

.yearly {
    right: 2px;
    color: #6F707F;
}

.bcg__effect {
    width: 132px;
    height: 56px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px #0000002e;
    border-radius: 10px;
    z-index: 3;
    transition: left 0.4s linear;
}

.on1 {
    animation: changeColor .4s linear 0s infinite normal forwards;
}

.off1 {
    animation: changeColor .4s linear 0s infinite reverse forwards;
}

.ON1 {
    color: #0069FF;
}

.OFF1{
    color: #6F707F;
}

.old-price {
    font-size: 32px;
    position: relative;
    top: -5.5px;
    left: -26px;
}

.old-price::before {
    content: "";
    display: inline-block;
    background-color: #0069FF;
    width: 3px;
    height: 95px;
    position: absolute;
    left: 47%;
    top: -64%;
    transform: rotate(77deg);
}

.old-price::after {
    content: "-20%";
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 3px;
    right: -40px;
}

.real-price {
    margin-left: 10px;
}

#premiumPrice, #premiumPlusPrice {
    position: relative;
    transition: all .3s linear;
}

/* animations */
@keyframes changeColor {
    from {
        color: #6F707F;
    }

    to {
        color: #0069FF;
    }
}

/* Adaptivity */
/* width */
@media (max-width: 1878px) {
    .main {
        padding: 182px 30px 152px;
    }

    .card {
        height: 600px;
    }

    .block2__title {
        font-size: 24px;
    }

    .card__title {
        font-size: 40px;
    }

    .card__sub-title {
        font-size: 22px;
    }

    .card__price {
        font-size: 35px;
    }

    .c-btn {
        margin: 15px 0 0 0;
    }

    .c-btn a {
        font-size: 21px;
    }

    .li {
        font-size: 21px;
        padding-bottom: 12px;
    }

    .mark {
        width: 3px;
        height: 14px;
        margin-right: 13px;
    }

    .mark::before {
        width: 3px;
        height: 8px;
        bottom: -2.8px;
        left: -3px;
    }
}

@media (max-width: 1788px) {
    .old-price {
        font-size: 24px;
    }

    .old-price::before {
        top: -102%;
    }

    .old-price::after {
        font-size: 13px;
        top: 0;
    }

    .real-price {
        font-size: 31px;
    }

    .m-y {
        font-size: 17px;
    }

    .card__price {
        font-size: 32px;
    }
}

@media (max-width: 1700px) {
    .wrapper {
        grid-template-columns: 230px calc(100vw - 230px);
        grid-template-rows: 80px calc(100vh - 80px);
    }

    .bottom {
        width: 230px;
    }
}

@media (max-width: 1664px) {
    .main {
        gap: 50px;
    }

    .card {
        height: 540px;
    }

    .block2__title {
        font-size: 21px;
        margin: 15px 0;
    }

    .card__title {
        font-size: 36px;
        margin-top: 15px;
    }

    .card__sub-title {
        font-size: 20px;
    }

    .card__price {
        font-size: 31px;
    }

    .c-btn a {
        font-size: 19px;
    }

    .li {
        font-size: 19px;
    }

    .mark {
        width: 2.5px;
        height: 12px;
        margin-right: 13px;
    }

    .mark::before {
        width: 2.5px;
        height: 7px;
        bottom: -2.8px;
        left: -2.5px;
    }
}

@media (max-width: 1610px) {
    .old-price {
        font-size: 21px;
    }

    .old-price::before {
        height: 80px;
    }

    .old-price::after {
        font-size: 11px;
        right: -33px;
    }

    .real-price {
        font-size: 27px;
        margin-left: 4px;
    }

    .m-y {
        font-size: 14px;
    }

    .card__price {
        font-size: 28.5px;
    }
}

@media (max-width: 1530px) {
    .btn {
        width: 150px;
        height: 39px;
        font-size: 19px;
    }

    .block {
        width: 150px;
    }

    .link {
        font-size: 16px;
    }

    .img i {
        font-size: 21px;
    }

    .menu-container {
        grid-gap: 20px;
    }

    .img2::before {
        width: 9px;
        height: 44px;
        top: 147.5px;
    }

    .data {
        margin-bottom: 50px;
    }
    
    .main {
        gap: 1.9vw;
    }

    .card {
        min-width: 270px;
    }
}

@media (max-width: 1440px) {
    .card {
        min-width: 250px;
        height: 500px;
    }

    .card__title {
        font-size: 31px;
        margin-top: 12px;
    }
    
    .card__sub-title {
        font-size: 17px;
    }   
    
    .card__price {
        font-size: 25.5px;
    }

    .block2__title {
        font-size: 19px;
    }

    .li {
        font-size: 17px;
    }

    .mark {
        bottom: -5.5px;
    }
}


@media (max-width: 1350px) {
    .wrapper {
        width: 1920px;
        height: 1080px;
        grid-template-rows: 100px calc(1080px - 100px);
        grid-template-columns: 250px calc(1920px - 250px);
    }

    .card {
        width: 356px;
        height: 645px;
    }

    .card__title {
        font-size: 45px;
        margin-top: 25px;
    }

    .card__sub-title {
        font-size: 24px;
    }

    .card__price {
        font-size: 38px;
    }

    .c-btn a {
        font-size: 24px;
    }

    .block2__title {
        font-size: 28px;
    }

    .li {
        font-size: 26px;
    }

    .old-price {
        font-size: 32px;
    }

    .old-price::after {
        font-size: 16px;
    }

    .old-price::before {
        top: -46%;
    }

    .real-price {
        font-size: 38px;
    }

    .m-y {
        font-size: 20px;
    }

    #transparentBackground {
        width: 1920px;
        height: 1080px;
    }

    .alert, .alert__err {
        left: 1000px;
        width: 300px;
    }

    .bottom {
        width: 250px;
    }

    .link {
        font-size: 18px;
    }

    .img i {
        font-size: 25px;
    }

    .menu-container {
        grid-gap: 30px;
    }

    .img2::before {
        width: 10px;
        height: 60px;
        left: -4px;
        top: 162px;
    }    

    .btn {
        width: 171px;
        height: 42px;
        font-size: 22px;
    }
}

/* height */
@media (max-height: 990px) and (min-width: 1330px) {
    .main {
        padding-bottom: 80px;
    }
}

@media (max-height: 905px) and (min-width: 1330px) {
    .wrapper {
        grid-template-rows: 80px calc(100vh - 80px);
    }

    .settings-icon, .avatar img, .avatar {
        width: 50px;
        height: 50px;
    }

    .change-tariff__wrapper {
        top: 40px;
    }
}

@media (max-height: 770px) and (min-width: 1330px) {
    .wrapper {
        grid-template-rows: 70px calc(100vh - 70px);
    }

    .settings-icon, .avatar, .avatar img {
        width: 45px;
        height: 45px;
    }

    .change-tariff__wrapper {
        top: 15px;
    }
}
